USE [ChahtaAchakvli]
GO
/****** Object:  StoredProcedure [base].[CheckPersonDeltas]    Script Date: 8/25/2022 7:11:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
--** Name: CheckPersonDeltas
--** Desc: Determine if there are any changes to [ChahtaAchvffa].[dbo].[Person] and apply to ChahtaAchakvli.base.PersonLookUp
--** Auth: Jim Schuebel
--** Date: 11/01/2021
--**************************
--** Usage
--	EXECUTE [base].[CheckPersonDeltas]
--**************************
--** Change History
--**************************
--** Date			Author				Description 
--** --------		-------				------------------------------------
--** 11/08/21		Jim Schuebel		Add try/catch and transaction around update/insert/delete
--** 05/26/22		Jim Schuebel		Add Query to Table Expression to pull added people within 15 mins prior
--** 08/12/22		Jim Schuebel		Change BatchSetting Date to use Latest Changes Collection Date
--** 08/25/22		Jim Schuebel		Remove Nolock hints from Achvffa Person only use commited reads
-- =============================================
ALTER PROCEDURE [base].[CheckPersonDeltas]
As
BEGIN

	--Kept for test dump only output 0=do no update/inserts
	DECLARE @runUpdates bit=1
	DECLARE @LatestPersonSysStartTime dateTime2(7)
	--Add 1 millisecond to avoid the previous latest record to be processed again
	SELECT @LatestPersonSysStartTime=DateAdd(ms,1,[DateValue]) FROM [base].[BatchSetting] bs WHERE CODE='PerMaxStart' AND [IsActive]=1

	declare @toDate varchar(38),@frmDate varchar(38) = CONVERT(VARCHAR(38), @LatestPersonSysStartTime, 121)
	--Gather date w/o time to append end of day time
	set @toDate = TRIM(substring(@frmDate,0,charindex(' ', @frmDate)))
	set @toDate = @toDate + ' 23:59:59.9999999'
	if @runUpdates=0
		select @frmDate fromDate, @toDate toDate

	--Take 15 minutes earlier only for those missing in case they were added after the search time
	declare @frmDateSpecial dateTime2(7) = DateAdd(MINUTE,-15,@LatestPersonSysStartTime)


	declare @ParentPerson TABLE (
		[PersonID] [int] NOT NULL,
		[DateOfBirth] [date] NULL,
		[FirstName] [varchar](50) NOT NULL,
		[MiddleName] [varchar](50) NULL,
		[LastName] [varchar](50) NOT NULL,
		[MarriedName] [varchar](50) NULL,
		[EnrollmentID] [char](8) NULL,
		[CRMContactID] [uniqueidentifier] NULL,
		[TribalMemberStatusID] [tinyint] NULL,
		[ExistRecs] int NULL,
		[Deleted] bit NULL,
		[SysStartTime] dateTime2(7)
		)
	;
	WITH PersonCTE AS (		
		SELECT [PersonID],[DateOfBirth],[FirstName],[MiddleName],[LastName],[MarriedName],[EnrollmentID]
			   ,CRMContactID,TribalMemberStatusID,SysStartTime
		FROM [ChahtaAchvffa].[dbo].[Person]
		FOR SYSTEM_TIME FROM @frmDate TO @toDate
		WHERE SysEndTime<>'9999-12-31 23:59:59.9999999'
		union
		SELECT [PersonID],[DateOfBirth],[FirstName],[MiddleName],[LastName],[MarriedName],[EnrollmentID]
			   ,CRMContactID,TribalMemberStatusID,SysStartTime
		FROM [ChahtaAchvffa].[dbo].[Person]
		WHERE SysEndTime='9999-12-31 23:59:59.9999999'
			AND SysStartTime >= @frmDate
		union 
		SELECT [PersonID],[DateOfBirth],[FirstName],[MiddleName],[LastName],[MarriedName],[EnrollmentID]
			   ,CRMContactID,TribalMemberStatusID,SysStartTime
		FROM [ChahtaAchvffa].[dbo].[Person]
		WHERE SysEndTime='9999-12-31 23:59:59.9999999'
			AND SysStartTime >= @frmDateSpecial
			AND [PersonID] NOT IN (SELECT [PersonID] FROM [base].[PersonLookUp] (nolock))
	)

	insert into @ParentPerson
	select [PersonID],[DateOfBirth],[FirstName],[MiddleName],[LastName],[MarriedName],[EnrollmentID]
				,CRMContactID,TribalMemberStatusID, [ExistRecs],[Deleted],[SysStartTime] from (
		select *
			,ROW_NUMBER() OVER (PARTITION BY PersonID ORDER BY SysStartTime DESC) AS rev
			--Flag records that exist in both [ChahtaAchvffa].[dbo].[Person] and [ChahtaAchakvli].[base].[PersonLookUp]
			,(select count(*) FROM [ChahtaAchakvli].[base].[PersonLookUp] plu (nolock) WHERE plu.PersonID=cte.PersonID) ExistRecs
			--Flag records that exist in [ChahtaAchakvli].[base].[PersonLookUp], but not in [ChahtaAchvffa].[dbo].[Person]
			,(CASE WHEN (select count(*) FROM [ChahtaAchvffa].[dbo].[Person] per WHERE per.PersonID=cte.PersonID)=0 THEN 1 ELSE 0 END) Deleted
		from PersonCTE cte
	) as xDat WHERE xDat.rev=1

	if @runUpdates=0
		select * from @ParentPerson
	BEGIN TRY
		BEGIN TRAN

		if @runUpdates=1
		BEGIN
			--Updated Rows  -- Ranked because you can have multiple during the time period, so take the latest (rev=1)
			UPDATE per
			SET per.[DateOfBirth]=pp.DateOfBirth
				,per.[FirstName]=pp.[FirstName]
				,per.[MiddleName]=pp.[MiddleName]
				,per.[LastName]=pp.[LastName]
				,per.[MarriedName]=pp.[MarriedName]
				,per.[EnrollmentID]=pp.[EnrollmentID]
				,per.[CRMContactID]=pp.[CRMContactID]
				,per.[TribalMemberStatusID]=pp.[TribalMemberStatusID]
			--select pp.[PersonID],pp.[DateOfBirth],pp.[FirstName],pp.[MiddleName],pp.[LastName],pp.[MarriedName],pp.[EnrollmentID]
			FROM [ChahtaAchakvli].[base].[PersonLookUp] per
			inner join @ParentPerson pp on pp.PersonID=per.PersonID AND [ExistRecs]>0 AND [Deleted]=0

			--Insert New Rows
			INSERT INTO [ChahtaAchakvli].[base].[PersonLookUp] ([PersonID],[DateOfBirth],[FirstName],[MiddleName],[LastName],[MarriedName],[EnrollmentID],CRMContactID,TribalMemberStatusID)
			select [PersonID],[DateOfBirth],[FirstName],[MiddleName],[LastName],[MarriedName],[EnrollmentID],[CRMContactID],[TribalMemberStatusID]
			FROM @ParentPerson WHERE [ExistRecs]=0 AND [Deleted]=0

			--Remove Deleted Rows
			DELETE FROM [ChahtaAchakvli].[base].[PersonLookUp] WHERE PersonID in (
				SELECT [PersonID] FROM [ChahtaAchakvli].[base].[PersonLookUp]
				WHERE [PersonID] NOT IN 
					(SELECT [PersonID] FROM [ChahtaAchvffa].[dbo].[Person]))
		END
		--Update the setting for the next LookUp update
		--Never go backwards, i.e. latest record was removed. (it would show in history still)
		DECLARE @LookUpLatest dateTime2(7), @PersonLatest dateTime2(7)
		SELECT @LookUpLatest=[DateValue] FROM [base].[BatchSetting] bs WHERE CODE='PerMaxStart' AND [IsActive]=1
		--Using latest Achvffa.Person creates potential gap of time from the changes collection
		--SELECT @PersonLatest=MAX(SysStartTime) FROM [ChahtaAchvffa].[dbo].[Person]
		SELECT @PersonLatest=MAX(SysStartTime) FROM @ParentPerson
		
		if (@LookUpLatest < @PersonLatest)
		BEGIN
			if @runUpdates=1
			BEGIN
				UPDATE bs
					SET [DateValue]=(select MAX(SysStartTime) FROM [ChahtaAchvffa].[dbo].[Person])
				FROM [base].[BatchSetting] bs
				WHERE CODE='PerMaxStart' AND [IsActive]=1
			END 
		END

		PRINT 'Committing'
		COMMIT

	END TRY
	BEGIN CATCH
		PRINT 'Rolling back'
		ROLLBACK
		INSERT INTO [base].[Log]
			   ([CreatedByInternal]
			   ,[SourceSystemCode]
			   ,[LogLevelCode]
			   ,[LogSource]
			   ,[LogMessage]
			   ,[LogDetails]
			   ,[CreatedOn])
		 VALUES
			   ('ACHAKETL'
			   ,'IMPORTBATCH'
			   ,'ERR'
			   ,'base.CheckPersonDeltas'
			   ,'CheckPersonDeltas Run'
			   ,FORMATMESSAGE('{ "STARTMESSAGE" : "ERROR_NUMBER(%d) ERROR_STATE(%d) ERROR_SEVERITY(%d) ERROR_PROCEDURE(%s) ERROR_LINE(%d) ERROR_MESSAGE(%s)"}', ERROR_NUMBER(), ERROR_STATE(), ERROR_SEVERITY(),ERROR_PROCEDURE(),ERROR_LINE(), ERROR_MESSAGE())
			   ,GETUTCDATE())
	END CATCH

END